@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductsReportAjaxIndexViewModel

<div class="span9">
    
        


      
    <div class="well well-small">
        <input asp-for="OrderByExpression" type="hidden" id="orderbyexpressioninput" />
        <input asp-for="OrderByDirectionAscending" type="hidden" id="orderbydirectioninput" />
        @if (ViewData["NoProduct"] == null)
        {
            <h3> Tüm Ürünler </h3>
        }
        

        @*  ???? *@
        <p class="text-success">@TempData["Message"]</p>


        <div class="row-fluid">
            <ul class="thumbnails">
                @ViewData["NoProduct"]

                @foreach (var item in Model.ProductsReport)
                {

                    <li class="span4">
                        <div class="thumbnail">
                            <a href="product_details.html" class="overlay"></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="zoomTool" title="add to cart"><span class="icon-search"></span> INCELE</a>
                            <a asp-action="Details" asp-route-ProductId="@item.Id"><img src="~/files/products/@item.ImageFileName" alt=""></a>
                            <div class="caption cntr">
                                <p> @Html.DisplayFor(modelItem => item.ProductName)</p>
                                <p><strong> @Html.DisplayFor(modelItem => item.UnitPriceText) TL</strong></p>
                                @if (User.IsInRole("User"))
                                {
                                    <h4><a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.Id" class="shopBtn" title="add to cart"> Sepete Ekle </a></h4>}

                                <div class="actionList">


                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                                        @:&nbsp;|&nbsp;
                                        <a style="color:red;" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                        @:&nbsp;|&nbsp;
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a>


                                </div>
                                <br class="clr">
                            </div>
                        </div>
                    </li>
                }


            </ul>
        </div>





    </div>
</div>


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a style="width:100%; background-color:#F4F4F4" class="btn btn-light" asp-action="Create">Yeni Ürün Ekle</a>}

<!--
Clients
-->
<section class="our_client">
    <hr class="soften" />
    <h4 class="title cntr"><span class="text">...</span></h4>
    <hr class="soften" />
    <div class="row">
        
    </div>
</section>