@*@model Entities.Entites.Product
*@
@using Business.Models.Reports;
@model ProductsReportModel

@{ ViewData["Title"] = "Product Details"; }





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <!--
        Upper Header Section
    -->
    <!--
    Lower Header Section
    -->
    <div class="container">
        <div id="gototop"> </div>


        <!--
        Navigation Bar Section
        -->
        <!--
        Body Section
        -->
        <div class="row">
            <div id="sidebar" class="span3">
                <div class="well well-small">
                    <ul class="nav">
                        <li><a class="btn btn-dark text-white" href="~/Products/Index"><span class="icon-chevron-right"></span>Ürünlere Dön</a></li>
                    </ul>
                </div>


                <div class="well well-small"><a href="#"><img src="~/img/paypal.jpg" alt="payment method paypal"></a></div>


                <br>
                <br>


            </div>
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a> <span class="divider">/</span></li>
                    <li><a href="~/Products/Index">Ürünler</a> <span class="divider">/</span></li>
                    <li class="active">Detay</li>
                </ul>
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span5">
                            <div id="myCarousel" class="carousel slide cntr">
                                <div class="">
                                    <div class="item active">
                                        
                                <a href="#"> <img src="~/files/products/@Model.ImageFileName" alt="" style="width:100%"></a> 
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="span7">
                            <h3>@Html.DisplayFor(model => model.ProductName)</h3>
                            <hr class="soft" />

                            <form class="form-horizontal qtyFrm">
                                <div class="control-group">
                                    <label class="control-label"><span>@Html.DisplayFor(model => model.UnitPriceText) TL</span></label>

                                </div>



                                <h4>Stokta @Html.DisplayFor(model => model.StockAmount) Ürün Mevcut !</h4>
                                <p>
                                    @Html.DisplayFor(model => model.ProductDescription)
                                <p>
                                    <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                    <hr class="softn clr" />



                    <div id="myTabContent" class="tab-content tabWrapper">
                        <div class="tab-pane fade active in" id="home">
                            <h4>Ürün Detayları</h4>
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="techSpecRow"><td class="techSpecTD1">İsim:</td><td class="techSpecTD2">@Html.DisplayFor(model => model.ProductName)</td></tr>
                                    <tr class="techSpecRow"><td class="techSpecTD1">Fiyat:</td><td class="techSpecTD2">@Html.DisplayFor(model => model.UnitPriceText) TL</td></tr>
                                    <tr class="techSpecRow"><td class="techSpecTD1">Stok:</td><td class="techSpecTD2">@Html.DisplayFor(model => model.StockAmount) Adet</td></tr>
                                    <tr class="techSpecRow"><td class="techSpecTD1">Kategorisi:</td><td class="techSpecTD2">@Html.DisplayFor(model => model.Category.Name)</td></tr>

                                </tbody>
                            </table>

                            <p>@Html.DisplayFor(model => model.ProductDescription)</p>

                        </div>


                    </div>

                </div>
            </div>








        </div> <!-- Body wrapper -->
        <!--
        Clients
        -->
        <section class="our_client">
            <hr class="soften" />
            <h4 class="title cntr"><span class="text">Manufactures</span></h4>
            <hr class="soften" />
            <div class="row">
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/1.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/2.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/3.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/4.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/5.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/6.png"></a>
                </div>
            </div>
        </section>

        <!--
        Footer
        -->

    </div><!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/js/shop.js"></script>
</body>
</html>

























